/* 覆蓋掉瀏覽器的css */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 覆蓋掉瀏覽器的css 結尾 */

*,*:before,*:after{
	box-sizing:border-box;
    font-family: 'Noto Sans TC';
    line-height: 120%;
}

a{
    text-decoration: none;
    color: white;
}

body{
    background-color: black;
}

.container{
    width:80%;
    margin: 0 auto;
    color:white;
}

.header{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #FFFFFF;
    margin-bottom: 40px;
}

.header img{
    width:50%;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10%;
}

.menu a{
    align-items: center;
}

.menu a:hover{
    color:black;
    background-color: white;
}

.header-title{
    display: flex;
    flex-direction: column;
}

.header-title p{
    font-size: 120px;
    font-weight: bold;
    line-height: 120%;;
}

.header-title a{
    display: block;
    padding: 20px 40px;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    margin-top: 40px;
    font-weight: 900;
    width:15%;
    text-align: center;
}

.header-title a:hover{
    color:black;
    background-color: white;
}

.arrow{
    display: flex;
    justify-content: end;
    padding-top: 100px;
    padding-bottom: 100px;
}

.motin{
    flex-basis: 30%;
    display: flex;
}

.service{
    margin-bottom: 130px;
}

/* 盡量避免如此選擇元素 */
/* .service ul{
    display: flex;
    justify-content: space-between;
} */

.service-title{
    display: flex;
    justify-content: space-between;
}

.service-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.service-list li{
    line-height: 120%;
}

.service-text1{
    font-size: 28px;
    /* width:30%; */
    flex-basis: 30%;
    font-weight: 900;
}

.service-text2{
    font-size: 32px;
    /* width:60%; */
    flex-basis: 60%;
    font-weight: 900;
}

.list-item{
    /* width:33%; */
    border:1px solid #525252;
    border-radius: 16px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    flex-basis:30%;
}

.service-list h2{
    font-size: 32px;
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 30px;
}

.service-list{
    margin-top: 80px;
    line-height: 120%;
}


.center{
    margin-right: 24px;
    margin-left: 24px;
}

.partner h2{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 60px;
}

.partner-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* text-align: center; */
    padding-top: 10px;
    padding-bottom: 10px;
}

.partner-list img{
    width:12%;
}

/* 沒有吃到漸層效果 */

.partner-list .img1{
    background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.991615) 11.79%, rgba(0, 0, 0, 0.967585) 21.38%, rgba(0, 0, 0, 0.9296) 29.12%, rgba(0, 0, 0, 0.879348) 35.34%, rgba(0, 0, 0, 0.818519) 40.37%, rgba(0, 0, 0, 0.7488) 44.56%, rgba(0, 0, 0, 0.671881) 48.24%, rgba(0, 0, 0, 0.589452) 51.76%, rgba(0, 0, 0, 0.5032) 55.44%, rgba(0, 0, 0, 0.414815) 59.63%, rgba(0, 0, 0, 0.325985) 64.66%, rgba(0, 0, 0, 0.2384) 70.88%, rgba(0, 0, 0, 0.153748) 78.62%, rgba(0, 0, 0, 0.0737185) 88.21%, rgba(0, 0, 0, 0) 100%);
}

.partner-list .img2{
    background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.991615) 11.79%, rgba(0, 0, 0, 0.967585) 21.38%, rgba(0, 0, 0, 0.9296) 29.12%, rgba(0, 0, 0, 0.879348) 35.34%, rgba(0, 0, 0, 0.818519) 40.37%, rgba(0, 0, 0, 0.7488) 44.56%, rgba(0, 0, 0, 0.671881) 48.24%, rgba(0, 0, 0, 0.589452) 51.76%, rgba(0, 0, 0, 0.5032) 55.44%, rgba(0, 0, 0, 0.414815) 59.63%, rgba(0, 0, 0, 0.325985) 64.66%, rgba(0, 0, 0, 0.2384) 70.88%, rgba(0, 0, 0, 0.153748) 78.62%, rgba(0, 0, 0, 0.0737185) 88.21%, rgba(0, 0, 0, 0) 100%);
}

/* 沒有吃到漸層效果 */

.partner{
    margin-bottom: 160px;
}

.recommend ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.recommend li{
    width:33%;
    background: rgba(255, 255, 255, 0.08);
    box-shadow: 0px 100px 80px rgba(18, 18, 18, 0.07), 0px 41.7776px 33.4221px rgba(18, 18, 18, 0.0503198), 0px 22.3363px 17.869px rgba(18, 18, 18, 0.0417275), 0px 12.5216px 10.0172px rgba(18, 18, 18, 0.035), 0px 6.6501px 5.32008px rgba(18, 18, 18, 0.0282725), 0px 2.76726px 2.21381px rgba(18, 18, 18, 0.0196802);
    border-radius: 16px;
    display: flex;
    padding: 40px;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 30%;
    /* border:1px solid white; */
}

.recommend{
    margin-bottom: 160px;
}

.user{
    display: flex;
}

.comment{
    line-height: 120%;
    height: 215px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.user-detail{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user-detail p{
    flex-basis:100%;
}

.user img{
    margin-right: 16px;
}

/* content CSS*/

.tools{
    background-color: white;
    /* height:1000px; */
    border-radius: 50px;
    padding-top: 160px;
    padding-bottom: 250px;
}

.tools-content{
    width:80%;
    margin: 0 auto;
}

.tools-content h1{
    font-size: 60px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 80px;
}

.tools-list{
    width: 100%;
    margin: 0 auto;
}

.search{
    background: #F2F2F2;
    border-radius: 16px;
    height: 64px;
    display: flex;
    align-items: center;
    padding-left: 43px;
    /* margin-bottom: 24px; */
    width:90%;
    margin: 40px auto;
}

.search img{
    width: 17.49px;
    height: 17.49px;
}

.search p{
    padding-left: 15.51px;
}

.tools-menu{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* margin-top: 24px;
    margin-bottom: 40px; */
    margin: 40px auto;
    width:90%;
}

.tools-menu img{
    padding-left: 10px;
}

.vector{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    border: 1px solid #F2F2F2;
    border-radius: 16px;
    height: 64px;
    /* padding: 20px 32px 20px 40px; */
}

.tools ul{
    display: flex;
}

.tools-type{
    display: flex;
    align-items: center;
}

.tools-type li{
    padding: 8px 16px 8px 16px;
    color: #919191;
}

.tools-type .first{
    color: black;
    background-color: #F2F2F2;
    border-radius: 10px;
}

/* card css */
.card{
    /* width: 33%; */
    display: flex;
    flex-direction: column;
    flex-basis: 32%;
}

.card-title{
    padding-left: 32px;
    padding-right: 32px;
    padding: 20px 32px 20px 32px;
    flex-grow: 1;
}

.card-title h3{
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: bold;
}

.card-title p{
    color:#525252;
    font-size: 14px;
    line-height: 150%;
}

.card-list{
    display: flex;
    justify-content: space-between;
    padding: 20px 32px 20px 32px;
}

.card-list span{
    font-weight: bold;
}

.card-img{
    max-width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card .card-list,.card-title{
    border-bottom: 1px solid #F0F0F0;
    border-left: 1px solid #F0F0F0;
    border-right: 1px solid #F0F0F0;
}

#card-bottom{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.tools-list{
    width:90%;
    display: flex;
    flex-direction: column;
}

.tools-list ul{
    margin-top: 24px;
    margin-bottom: 24px;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}

.footer{
    color: white;
    padding-top: 80px;
    margin: 0 auto;
    width:90%;
}

.type1{
    width: 15%;
}

.start{
    /* margin-left: 312px;
    margin-right: 312px; */
    text-align: center;
    margin-bottom: 80px;
    padding-bottom: 80px;
}

.start img{
    width: 15px;
    height: 15px;
    margin-left: 5px;
}

.title{
    font-size: 40px;
    font-weight: 900;
    margin-top: 80px;
    margin-bottom: 40px;
}

.button{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.middle{
    display: flex;
    justify-content: space-between;
    /* margin-left: 200px;
    margin-right: 200px; */
    width:90%;
    padding-top: 80px;
    padding-bottom: 80px;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    margin: 0 auto;
}

.middle p{
    font-size: 80px;
    font-weight: 900;
    line-height: 120%;
    padding-top: 5px;
}

.right img{
    width:245px;
}

.end{
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width:90%;
    /* margin-left: 200px;
    margin-right: 200px; */
}

.year{
    width:20%
}

.social{
    /* padding-left: 60px; */
    width:60%;
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
}

.social p{
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 700;
}

.toTop{
    display: flex;
    justify-content: end;
    width:20%;
}

.toTop img{
    padding-left: 10px;
}
/* Miru */

@media(max-width: 768px) {

    .container {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }

    .header{
        width:100%;
    }

    /* .motin{
        justify-content: flex-start;
        flex-basis: 210%;
    } */

    .motin{
        flex-basis:20%;
    }

    .arrow{
        justify-content: flex-start;
    }

    .service-title{
        display: block;
    }

    .service-title li{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .service-text1{
        font-size: 20px;
    }

    .service-text2{
        font-size: 32px;
    }

    .service-text2 div{
        width: 50%;
    }

    /* .list-item{
        flex-basis: 40%;
    } */

    .comment{
        line-height: 120%;
        height: 280px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .recommend li{
        flex-basis: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .header-title p {
        font-size: 48px;
    }

    .tools{
        width: 100%;
        margin: 0 auto;
    }

    .tools-content{
        width:100%;
    }

    .card{
        flex-basis: 100%;
    }

    .footer{
        width:100%;
    }

    .list-item{
        flex-basis: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .header-title a{
        width:25%;
    }

    /* .order{
        order:3;
        margin-top: 10px;
    } */


    /* ul.service-list {
        display: flex;
    } */
    /* .service-list li {
        flex-basis: 75%;
    } */
}



@media(max-width: 992px) {
    .order{
        order:3;
        margin-top: 10px;
    }
}

@media(max-width: 420px){
    .order li{
        display: inline-block;
        width:18%;
        height: 10%;
        text-align: center;
    }

    .order ul{
        overflow-x:auto;
        white-space: nowrap;
        max-width: 100%;
        display: inline;
    }

    .tools ul{
        margin-top: 10px;
    }

    .tools-type li{
        padding: 4px 8px;
    }
}